[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
chardet = "*"
colorama = "*"
configparser = "*"
crayons = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
idna = "*"
pytz = "*"
requests = "*"
selenium = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
webdriver-manager = "*"
Django = "*"
psycopg2 = "~=2.8.6"

[dev-packages]
isort = "==5.2.1"
flake8 = "==3.8.3"
black = "==19.10b0"
factory-boy = "==2.12.0"

[requires]
python_version = "3.9"
