asgiref
certifi
chardet
colorama
configparser
crayons
Django
django-cors-headers
django-extensions
django-filter
djangorestframework
idna
pytz
requests
selenium
six
sqlparse
urllib3
webdriver-manager